{% extends "based.html" %}
{% load i18n %}
{% block title %}Reset Password Completed{% endblock %}
{% block style %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% include "body.html" %}
   <style>
.para{
	margin-bottom: 28em;
	margin-top: 8em;
}
	</style>
	{% endblock %}
	{% block a %}
	<div class="para">
<p  style="color:white; font-size:30px;">{% trans "Password reset successfully" %}</p>
<p><a class="button btn btn-primary" style="color:white; font-size:20px;" href="{% url 'register:auth_login' %}">{% trans "Log in" %}</a></p>
</div>
{% endblock %}
{% block newskletter %}
{% endblock %}