{% extends "based.html" %}
{% load staticfiles%}
{% block style %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta tags -->
<!-- font-awesome-icons -->
<link href="{% static 'css3/font-awesomes.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<!-- Stylesheet -->
<link href="{% static 'css3/style.css' %}" rel='stylesheet' type='text/css' />
<!-- //Stylesheet -->
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
<style>
body{
    background: url("{% static 'images/license/picturesque-road-in-badlands-national-park-with-PK5LQNP.jpg' %}") no-repeat; 
}
     label{
     color: white;
     margin-top:.55em;
   }
    input[type="email"]{
        text-transform: lowercase;
    }
    .a{
        margin-top:8em;
    }
    .bt-newsletter,.bt-instagramgallery
{
    margin-top: 25em;
}
.button{
    margin-top:2em;
}
.bg-agile{
    padding: 30px;
}
btn-primary:hover {
    background-color: green;
}
.book-appointment h2{
    margin-bottom: -.5px;
}
</style>
{% endblock %}
{% block a %}
<main id="bt-main" class="bt-main bt-haslayout a">
<div class="bg-agile">
        <div class="book-appointment">
            	<h2>Profile Details</h2>
                            <div class="book-form agileits-login">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div style="color:white" class="agileits_reservation_grid">
                                        {{user_form.as_p}}
                                        {{ profile_form.as_p }}
                                        <a href="/accounts/password/change/" class="button btn btn-primary">Change Password</a>
                                    </div> 
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
       </div>
    </div>
</main>
       {% endblock %}
       {% block script %}
            <script type="text/javascript" src="{% static 'js3/jquery-2.1.5.min.js' %}"></script>
            <!-- Calendar -->
                    <link rel="stylesheet" href="{% static 'css3/jquery-uii.css' %}" />
                    <script src="{% static 'js3/jquery-uii.js' %}"></script>
        {% endblock %}